@font-face {
  font-family: "ArchivoNarrow";
  src: url("ArchivoNarrow-Regular.otf") format("opentype");
}

body, html {
	margin: 0;
	padding: 0;
	font-family: ArchivoNarrow;
}

#wrap {
	max-width: 1200px;
	margin: 0 auto;
}

nav {
	margin: 20px 20px 0 20px;
	width: calc(100% - 40px);
	display: flex;
	justify-content: space-around;
	background-color: black;
	color: white;
	height: 70px;
	line-height: 70px;
}

nav a {
	color: white;
	text-decoration: none;
	flex-grow: 1;
	text-align: center;
	font-size: 22px;
}

#content > section {
	min-height: 100vh;
}

#top {
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#logo-arrangement {
	display: flex;
	justify-content: space-between;
	margin: 0 40px;
}

#logo-arrangement div {
	height: 15px;
	background-color: black;
	flex-grow: 1;
	margin-top: 125px;
}

#top img[src="img/logo.png"] {
	width: 246px;
	height: 234px;
	margin: 0 auto;
}

#carousel {
	margin: 0 40px;
	height: 400px;
}

#carousel img {
	display: none;
}

h1 {
	text-align: center;
}